.purple {
  background-color: #5d5c61;
  margin: -8px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  /* padding-left: 73%; */
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
}

.navLink, .homeLink {
  color: white;
  text-decoration: none;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}

.homeLink {
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

.title {
  background-color: #f1efd6;
  text-align: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 6px;
  padding: 60px;
  font-family: 'EB Garamond', serif;
  font-size: 250%;
  color: #5d5c61;
}

.about {
  margin: 12px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  width: 45%;
}

.mission {
  width: 45%;
}

.missionHead {
  margin-top: 40px;
  border: 3px solid #5d5c61;
  padding: 3px;
  color: #5d5c61;
  width: 40%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.missionButtons {
  margin-left: 20px;
  color: #5d5c61;
  text-decoration: none;
  font-size: 150%;
  width: 30%;
  font-family: 'Open Sans', sans-serif;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 6px solid #5d5c61;
}

.shop {
  background-color: #5d5c61;
  border: 4px solid #f1efd6;
  padding: 50px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 200%;
}

.how {
  width: 25%;
  font-family: 'Open Sans', sans-serif;
}

.mapSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.map {
  margin-top: 20px;
}

/* about us page */
.broad-about {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 45%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* impact */
.intro {
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}

.impactHead {
  margin-top: 40px;
  border: 3px solid #5d5c61;
  padding: 3px;
  color: #5d5c61;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.impactSect {
  width: 40%;
  font-family: 'Open Sans', sans-serif;
}

.twoSects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 6px solid #5d5c61;
  border-top: 6px solid #5d5c61;
}

.vegan {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  /* border-bottom: 6px solid #5603AD; */
}
